<h1> Edit Task </h1>


<%= form_for @task do |f| %>
<p>
    <%= f.label :title %><br/>
    <%= f.text_field :title  %>
</p>

<p>
    <%= f.label :inquiry  %><br/>
    <%= f.text_area :inquiry %>
</p>

<p>
    <%= f.submit "Edit Task"%>
   
</p>
<% end %>