<h1> Edit Task </h1>


<%= form_for @task do |f| %>
<p>
    <%= f.label :title %><br/>
    <%= f.text_field :title  %>
</p>

<p>
    <%= f.label :inquiry  %><br/>
    <%= f.text_area :inquiry %>
</p>

<p>
    <%= f.label :deadline, id: "deadline" %>
    <%= f.text_area :deadline, id: "deadline" %>
</p>


<p>
    <%= f.label :status, id: "status" %>
    <%= f.select :status,Task.statuses.keys, selected: '' %>
</p>

<p>
    <%= f.label :priority, id: "priority" %><br>
    <%= f.select :priority,Task.priorities.keys, selected: '' %>
</p>

<p>
    <%= f.submit "Edit Task"%>
   
</p>
<% end %>