<h1> Edit Task </h1>


<%= form_for @task do |f| %>
<p>
        <%= f.label :title %><br />
        <%= f.text_field :title　%>
</p>

<p>
        <%= f.label :inquiry %>
        <%=f.text_area :inquiry　%>
</p>

<p>
        <%= f.submit "Update Task" %>
</p>

<% end %>