<h1><%= t('view.sample') %></h1>


<div class = "container">
    <div class = "row">
    
<nav class= "menu">
  <ul>
   <li><%= paginate @tasks %></li>


<%= form_with(model: @tasks, url: tasks_path, local: true, method: 'get') do |f| %>
 <li>   
<p>
    <%= f.label :title, "Title Search" %>
    <%= f.text_field :title %>
    <%= f.label :status, "Status Search" %>
    <%= f.select :status,Task.statuses.keys, selected: '' %>
    
     <%= hidden_field :search, params[:search] %>
    
    <%= f.submit  'Search'  %>
</p>
</li>

<% end %>

<br>
   <li>
    <%= link_to "Sort by end date", root_path(sort_expired: "true")%>
    </li>
  </ul>
</nav>


<article>
    <div class="contents">

<% @tasks.each do |task| %>
    <h2><%= link_to task.title, task %></h2>
    <p><%=  task.inquiry %></p>
    <p><%=  task.deadline %></p>
    <p><%=  task.priority %></p>
    <p><%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <hr />
    
  
  <% end %>
  
  <p>
      <%= link_to "Add a new Task", new_task_path %>
 
  </p>
      </div>
    </article>
  
    </div>
  </div>