<h1><%= t('view.sample') %></h1>



<% @tasks.each do |task| %>
    <h2><%= link_to task.title, task %></h2>
    <p><%=  task.inquiry %></p>
    <p><%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Sort by expiration date', tasks_path(sort_expired: 'true') %>
    </p>
    <hr />
  <% end %>
  
 
 
  <p><%= link_to "Add a new Task", new_task_path %> </p>