
<h1 align = "center" ><%= t('view.sample') %></h1>






<nav class="navbar navbar-default">
<div class="container-fluid">
 <div class="panel-body">
   <%= search_form_for @q, class: 'mb-5' do |f| %>
    <div class="row">   
      <div class="col-sm-6">
      <div class="form-group">
     <%= f.label :title, "Title Search", class: 'col-sm-2 col-form-label' %>
     <%= f.search_field :title_cont, :placeholder=> 'Title search' ,class: 'form-control' , id: "title search" %>
       </div>
      </div>
     
     <div class="col-sm-6">
      <div class="form-group">
     <%= f.label :status, "Status Search" %>
     <%= f.select :status_eq, options_for_select([
        [:Not_started],[:Undertaking],[ :Completed] ]), include_blank: true, class: 'form-control'  %>
       </div>
      </div>
      
       <%= f.hidden_field :search, value: 'true' %>
   
       <%= f.submit  'Search' , class: "btn btn-primary" %>
           
      
    <% end %>
  </div> 
   
 <div class="row"> 
 <button type="button" class="btn btn-success">
     <%= sort_link(@q, :deadline, 'Sort by end date', default_order: :asc) %>
     </button>
  </div>
</div>
</nav>


<article>
    <div class="contents">

<% @tasks.each do |task| %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
   <div class="well well-lg">
    <div class="article-title">
    <h2><%= link_to task.title, task %></h2>
    <p><%=  task.inquiry %></p>
    <p><%=  task.deadline %></p>
    <p><%=  task.status %></p>
    <p><%=  task.priority %></p>
    <p><%= link_to 'Edit', edit_task_path(task), class: "btn btn-xs btn-primary" %> |
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-xs btn-success" %>
    </p>
   <hr/>
    </div>
   </div>
  </div>
 </div>
  
  <% end %>
  
  <p>
      <%= link_to "Add a new Task", new_task_path, class: "btn btn-large btn-primary" %>
 
  </p>
      </div>
    </article>
       
    </div>
  </div>


  


