<h1><%= t('view.sample') %></h1>


<div class = "container">
    <div class = "row">
    
<nav class= "menu">
  <ul>
<li><%= paginate @tasks %></li>

<%= search_form_for @q do |f| %>
 <div class ="field">
    <%= f.label :title, "Title Search" %>
    <%= f.search_field :title_cont  %>
</div>


 <div class ="field">
    <%= f.label :status, "Status Search" %>
    <%= f.select :status_eq, options_for_select([
        [:Not_started],[:Undertaking],[ :Completed] ]), include_blank: true  %>
</div>

<div  class="actions"> <%= f.submit  'Search'  %></div>


<% end %>

<br>
   <li>
     <%= sort_link(@q, :deadline, 'Sort by end date', default_order: :asc) %>
    </li>
  </ul>
</nav>


<article>
    <div class="contents">

<% @tasks.each do |task| %>
    <h2><%= link_to task.title, task %></h2>
    <p><%=  task.inquiry %></p>
    <p><%=  task.deadline %></p>
    <p><%=  task.status %></p>
    <p><%=  task.priority %></p>
    <p><%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
   <hr/>
    
  
  <% end %>
  
  <p>
      <%= link_to "Add a new Task", new_task_path, class: "btn btn-large btn-primary" %>
 
  </p>
      </div>
    </article>
       
    </div>
  </div>