<h1> Add a new Task </h1>

<%= form_for @task do |f| %>


<% if @task.errors.any? %>
<h2>Errors:</h2>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>    
  </ul>
<% end %>
    
<p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, id: "title"  %>
</p>

<p>
    <%= f.label :inquiry  %><br/>
    <%= f.text_area :inquiry, id: "inquiry" %>
</p>


<p>
    <%= f.label :deadline, id: "deadline" %>
    <%= f.text_area :deadline, id: "deadline" %>
</p>

<p>
    <%= f.label :priority, id: "priority" %><br>
    <%= f.select :priority,Task.priorities.keys, selected: '' %>
</p>


<p>
    <%= f.submit "Add a new Task",  class: "btn btn-large btn-primary"%>
</p>

<% end %>



 
 
 
