<!DOCTYPE html>
<html>
  <head>
    <title>Everleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <div>
      Language:
      <%= link_to_unless_current "English", locale: "en" %>
      <%= link_to_unless_current "Japanese", locale: "ja" %>
    </div>
    
    
    <% flash.each do |key,value| %>
    <p><%= value %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
