<!DOCTYPE html>
<html>
  <head>
    <title>Everleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <%= render 'layouts/navigation' %>
    
    <% flash.each do |key,value| %>
    <p><%= value %></p>
    <% end %>
    
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    
     <% if logged_in? %>
          
      Language:
     <%= link_to_unless_current "English", locale: "en" %>
     <%= link_to_unless_current "Japanese", locale: "ja" %>
           
         <ul class="nav navbar-nav">
       <li><%= link_to "Profile", user_path(current_user.id) %></li>
        <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
          </ul>  
        <% else %>
           <%= link_to "Sign up", new_user_path %>
           <%= link_to "Login", new_session_path %>
        <% end %>
    
    
    <%= yield %>
    
    <%= debug(params) if Rails.env.development? %>
 <footer>
    <p>Operating company DIVE INTO CODE</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>
    
  </body>
</html>
