<!DOCTYPE html>
<html>
  <head>
    <title>Everleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header >
    <ul>
      
      <li> <p><%= link_to "Home",tasks_path %> </p></li>
       <li> <p><%= link_to "Add a new Task", new_task_path %> </p></li>
    </ul>
    
   <div class ="c">
      Language:
      <%= link_to_unless_current "English", locale: "en" %>
      <%= link_to_unless_current "Japanese", locale: "ja" %>
    </div>
</header>

  
    <% flash.each do |key,value| %>
    <p><%= value %></p>
    <% end %>
    
    <%= yield %>
    
    <footer>
    <p>Operating company DIVE INTO CODE</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>
    
  </body>
</html>
